.Renviron
.Rproj.user/
.Rhistory
.RData
.Ruserdata
tutorials/.Rhistory
tutorials/*.html
tutorials/*_files/
debug_recalculating_bug/*.html
debug_recalculating_bug/*_files/
debug_recalculating_bug/*_cache/
